/* Removes unwanted styling from the page */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 25px 60px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;
display: flex;
justify-content: space-between;
li {

}
display: inline-block;
list-style-type: none;
margin: 0 12px;
/* Write your code below this */
.navbar {

}